body{
font-size: 14px;
color: #262526;
font-family: Helvetica Neue, sans-serif;
}
a:hover {
    color: #f49f1f;
    text-decoration: none;
}

.container{max-width: 1230px; width: 100%; margin: 0 auto}
/*.max_width_container{
max-width: 1540px;
width: 100%;
margin: 0 auto;
}*/
.max_wrap {
max-width: 1140px;
margin: 0 auto;
}
.services_page_section .container.max_wrap {
    max-width: 960px;
}
h1{
font-family: "baskerville-display-pt",serif;
}
h2 {
font-size:45px;
font-family: "baskerville-display-pt",serif;
}

.archive h2.block-tittle { font-size: 34px; }

h2.block-tittle {
font-size: 60px; text-transform: capitalize;
margin: 0px;
font-family: "baskerville-display-pt",serif;
}
.h-100vh {
height: 100vh;
}
.h-80vh {
height: 80vh;
}
a {
color: #5590CC;
text-decoration: none;
background-color: transparent;
}
.tnp-subscription input[type=text], .tnp-subscription input[type=email]{ font-size: 12px; font-weight: 500; }
.text-primary{ color: #5590CC !important; }
.bg-primary {
background-color: #5590CC!important;
}
a.text-primary:focus, a.text-primary:hover {
    color: #5590CC !important;
}
.pt-25{padding-top: 25px; }
.pb-25{ padding-bottom: 25px; }
.mb-40{ margin-bottom: 40px }
.py-100-60{padding-top: 100px ; padding-bottom: 60px;}
.py-50-30{padding-top: 50px ; padding-bottom: 30px;}
.inner-pages-banner .container {
max-width: 930px;
margin: 0 auto;
}
.inner-pages-banner h1{ font-size: 46px; position: relative; padding-left: 15px; padding-right:15px;font-family: "baskerville-display-pt",serif; }
.inner-pages-banner h1:before{ content: "";  width: 10px; height: 10px; background-color: #F49F1F; position: absolute; left: 0px; border-radius: 100%;    top: 18px;  }

.inner-pages-banner h1:after{ content: "";  width: 10px; height: 10px; background-color: #F49F1F; position: absolute; right: 0px; border-radius: 100%;    top: 18px;  }



/*// Button variants*/
.wpcf7-form-control.wpcf7-submit {
min-width: 200px; border:1px solid #5590CC; font-size: 18px;
padding: 11px 15px;
}
.btn,.wpcf7-submit{ font-family: "oswald",sans-serif;  }
.btn-primary,.wpcf7-submit {
color: #fff;
background-color: #5590CC;
border-color: #5590CC;
}
.btn.focus, .btn:focus,.wpcf7-submit.focus, .wpcf7-submit:focus{ box-shadow: none;outline: none; }
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
color: #fff;
background-color: #F49F1F;
border-color: #F49F1F;
}
.btn-primary:hover,.wpcf7-submit:hover {
color: #5590CC;
background-color: #fff;
border-color: #5590CC;
}
.btn-outline-white {
border: 1px solid #fff;
color: #fff !important;
}
.btn-outline-white:hover,.btn-outline-white:focus {
background-color: #f49f1f;
border-color: #f49f1f;
}
/*header*/
.navbar-brand {
    max-width: 400px;
}
.navbar-brand img {
max-width: 100%;
}
.header ul:not(.string_header_social)>li>a{
font-size: 22px;
text-transform: uppercase;
color: #5590CC !important;
font-weight: 500;font-family: "oswald",sans-serif;
padding: 0px 25px !important; position: relative;
}
nav.navbar.navbar-expand-md.navbar-light.bg-light {
    padding: 0px 0px;
}
.header ul:not(.string_header_social)>li>a:hover:before,.header ul:not(.string_header_social)>li>a.active:before{
content: "";  background-image: url(../assets/images/nav_before.png);
position: absolute; top: -9px ; width: 82px; height: 16px; margin: 0 auto; right: 0px; left: 0px;
}
.header  .bg-light {
background-color: #fff !important;
}
.string_header_social>li>a {
display: block;
width: 32px;
height: 32px;
background-color: #F49F1F;
text-align: center;
line-height: 32px;
border-radius: 100%;
color: #fff;
font-size: 14px;
}.string_header_social>li>a:hover {

background-color: #65a2d6;


}
/*home-page-banner*/
.home-page-banner li.list-inline-item {
font-size: 46px;
color: #fff;
position: relative;
padding: 0px 15px;font-family: "baskerville-display-pt",serif;
padding-left: 16px;
}
.home-page-banner li.list-inline-item:after {
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    left: 0px;
    top: 30px;
    border-radius: 100%;
    background-color: #f49f1f;
}
.home-page-banner li.list-inline-item:last-child{
	padding-right: 16px;
}
.home-page-banner li.list-inline-item:last-child:before {
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    right: 0px;
    top: 30px;
    border-radius: 100%;
    background-color: #f49f1f;
}
.home-page-banner .max-hiro {
max-width: 816px !important;
margin: 0 0 0 auto;
width: 100%;
}
.home-page-banner .max-hiro ul {
margin-left: -106px;
}
input.tnp-submit.btn.btn-secondary {
width: 100%;
padding: 6px 16px;
border-radius: 0;
font-family: "oswald",sans-serif;
font-size: 24px;
background-color: #f49f1f;
border: 1px solid #f49f1f;
}
input.tnp-submit.btn.btn-secondary:hover{ color: #f49f1f; border-color: #f49f1f; background-color: transparent;  }
.home-page-banner {
background-repeat: no-repeat;
background-size: cover;
height: 600px;
}
.text-home_header_content p{ font-size: 21px; color: #fff; line-height: 30px; }
.home-page-banner .btn {
padding: 6px 18px;
font-size: 18px;
font-size: 21px;
border-radius: 0px;
}
.top_heading_para {
position: relative;
}
.top_heading_para:after {
content: "";
position: absolute;
width: 122px;
height: 9px;
background-image: url(../assets/images/title_after.png);
background-repeat: no-repeat; left: 0px; right: 0px; margin: 0 auto;bottom: 0;
background-position: center;
}
.top_heading_para {
margin-bottom:40px;
padding-bottom: 20px;
}
/*service_work_content*/
.service_work_content>h4,.service_work_content a {
font-size: 18px;font-family: "oswald",sans-serif;
color: #514F50; text-transform: uppercase;
text-decoration: none;
}
.service_work_box {
text-align: center;
}
.service_work_content {
padding-top: 20px;
padding-left: 0px;
padding-right: 0px;
}

.service_work_img img { max-height: 100px; }

.service_work_img {
max-width: 170px;
margin: 0 auto;
}
.home_service_section .container{ max-width: 960px; margin: 0 auto; }
.testimonial_box p {
font-size: 24px;
}
.testimonial_box h6 {
font-size: 24px; font-weight: bold;
}
/*blog_per_details*/
.blog_per_details span.author_name ,.blog_per_details ul.post-categories a{
display: block;font-family: "oswald",sans-serif;
font-size: 16px;
}
.blog_per_details span.date {
font-size: 14px;font-family: "oswald",sans-serif;
font-weight: 400;
}
.read_more_icon {
    position: absolute;
    right: 20px;
    bottom: 10px;
    padding: 5px 32px 5px 0px;
    background-position: center right;
    text-transform: uppercase;
    font-size: 14px;
    text-decoration: none;
    font-weight: 600;
}
.read_more_icon:after {
content: "";
position: absolute;
right: 1px;
top: 4px;
background-image: url(../assets/images/arrow_blog.png);
background-repeat: no-repeat;
width: 23px;
height: 23px;
}
.read_more_icon:hover:after {

background-position: right;
}
.read_more_icon:hover {
color: #f49f1f; text-decoration: none;
}
.home_blog_section .row{ margin: 0px -10px;  }
.home_blog_section .row [class*="col-"]{ padding: 0 10px; }
.blog_inner {
border: 1px solid #919191; position: relative;
}
.blog_per_details {
position: relative;
padding: 30px 15px 10px;    text-transform: uppercase;
}
.blog_per_details ul.post-categories {
list-style: none;
display: block;
padding: 0px;
margin: 0px;
}
.blog_per_details ul.post-categories a {
color: #fff;
text-transform: uppercase;
}
.blog_work_content {
padding: 20px;
position: relative;
padding-bottom: 40px;
}
.blog_work_content h2, .blog_work_content h2 a{
font-size: 26px; color: #262526; text-transform: uppercase;font-weight: 500;font-family: "oswald",sans-serif; text-decoration: none;text-overflow: ellipsis;
overflow: hidden;
white-space: nowrap;
}
.blog_img img {
max-width: 100%;
}
/*testimonial_slider*/
.testimonial_slider .item{
max-width: 800px; margin: 0 auto; text-align: center;
}
.testimonial_slider  .owl-theme .owl-nav [class*=owl-], .testimonial_slider  .owl-theme .owl-nav [class*=owl-]:hover, .testimonial_slider  .owl-theme .owl-nav [class*=owl-]:focus {
color: #FFF;
font-size: 14px;
margin: 5px;
padding: 4px 7px;
background: #fff !important;
display: inline-block;
cursor: pointer;
border-radius: 3px;
}
.testimonial_slider .owl-theme .owl-nav [class*=owl-] {
position: absolute;
bottom: 50%;
}
.testimonial_slider .owl-theme .owl-nav [class*=owl-].owl-prev {
left: 0;
}
.testimonial_slider .owl-theme .owl-nav [class*=owl-].owl-next {
right: 0;
}
/*newsletter_form_section*/
.newsletter_form_section{ padding: 35px 0px; }
.newsletter_form_section h2{ color: #fff;font-family: "baskerville-display-pt",serif; font-size: 30px;    padding-left: 50px;  }
.newsletter_form_section  .tnp.tnp-subscription {
max-width: 100%;
margin: 0px;
}
.newsletter_form_section  .tnp-subscription div.tnp-field {
padding: 0 10px;
margin: 0px;
}
.newsletter_form_section  .tnp.tnp-subscription .row {
margin: 0px -10px;
}
/*inner-pages-banner*/
.inner-pages-banner {
padding: 80px 0px;
background-size: cover;
background-repeat: no-repeat;
}
.inner-pages-banner p {
font-size: 20px;
color: #fff;
}
.inner-pages-banner h1 {
font-size: 40px; display: inline-block;
color: #fff;
}
/*services_page_section*/
.services_page_section .item{ padding: 50px 0px; position: relative; }

.services_page_section h2 { font-size: 34px; }

.services_page_section p {
font-size: 17px;max-width: 784px;
}
.services_page_section .item img.img-fluid {
max-width: 170px;
margin: 0 auto;
margin-top: 10px;
display: block;
}
.services_page_section .item:after{content: "";
position: absolute;
width: 100%;
height: 9px;
background-image: url(../assets/images/title_after.png);
left: 0px; right: 0px; margin: 0 auto;bottom: 0;
background-position: center; }
.services_page_section .item:last-child:after{ display: none; }
.learn_more .btn {
border-radius: 0px;
min-width: 315px;    font-size: 20px;    letter-spacing: 1px;
}
/*about*/
.about_sharrie_wrap .left_con {
/* overflow: hidden; */

}
.page_section  p {
font-size: 18px;
font-weight: 400;
margin-bottom: 30px;
}
.page_section  p:empty{ display: none; }
.page_section  h3 {
font-size: 18px;
font-weight: 600;
margin-bottom: 20px; color: #000;
}
.about_sharrie_image {
margin-left: 30px;
max-width: 320px;
}
.page_section ul {
font-size: 18px;
margin: 0px;
padding: 0px;
list-style: none; margin-bottom: 30px;
}
/*404*/
.error-404 h2.page-title.text-white {
font-size: 50px;
margin-bottom: 30px;
}
.error-404  .page-content h1 {
font-size: 116px; position: relative;
}
.error-404 .page-content h1:before {
content: "";
background-image: url(../assets/images/404_before.png);
position: absolute;
top: -10px;
width: 160px;
height: 42px;
margin: 0 auto;
left: 8px;
background-size: 100%;
background-repeat: no-repeat;
}
.error-404 .page-content {
padding:40px 0px;
}
.error-404 .page-content h1 small {
font-size: 40px;
}
.error-404 {
min-height: 460px;
}
/*contact_page*/
.contact_page{ padding:20px 40px 20px; }
.contact_page h2 {
margin-bottom: 30px;
}
.contact_page .row {
margin: 0 -10px;
}
.contact_page .row [class*="col-"] {
padding: 0px 10px;
}
.contact_page h2 img {
margin-right: 15px;
}
.contact_page input:not([type="submit"]) {
height: 65px;
width: 100%;
border: 1px solid #514F50;
border-radius: 5px;
padding: 10px 15px;
}
.contact_page select.wpcf7-form-control.wpcf7-select {
height: 65px;
width: 100%;
border: 1px solid #514F50;
border-radius: 5px;
padding: 10px 15px;
}
.contact_page textarea.wpcf7-form-control.wpcf7-textarea {
height: 150px;
width: 100%;
border: 1px solid #514f50;
border-radius: 5px;
padding: 15px 15px;
}
.sub_service_icon h2 {
position: relative; line-height: 1;
padding-bottom: 20px;
margin-bottom: 10px;
    min-height: 110px;
}
.sub_service_icon h2:after {
content: "";
position: absolute;
width: 100%;
height: 9px;
background-image: url(../assets/images/title_after.png);
left: 0px;
right: 0px;
margin: 0 auto;
bottom: 0;
background-position: center;
}
/*footer*/
nav.navigation.pagination {
    text-align: center;
}

nav.navigation.pagination h2.screen-reader-text {
    display: none;
}

nav.navigation.pagination {
    padding: 20px 0px 40px;
}

nav.navigation.pagination .nav-links {
    display: block;
    text-align: center;
    width: 100%;
}

nav.navigation.pagination .nav-links span,nav.navigation.pagination .nav-links a {
    padding: 16px;
    padding: 0px;
    display: inline-block;
    padding: 3px 18px;
    border: 1px solid #5590cc;
    color: #5590cc;
}

nav.navigation.pagination .nav-links span span, nav.navigation.pagination .nav-links a span {
    display: none;
}

nav.navigation.pagination .nav-links .page-numbers.current,nav.navigation.pagination .nav-links span:hover,nav.navigation.pagination .nav-links a:hover {
    background-color: #5590cc;
    color: #fff;
}
.category_list {
    padding: 25px 0px;
    text-align: center; position: relative;
    display: flex;
    align-items: center;
    justify-content: center;font-family: "oswald",sans-serif;    margin: 0px 0px 30px;
}
.category_list:after {
content: "";
position: absolute;
width: 100%;
max-width: 466px;
height: 9px;
background-image: url(../assets/images/title_after.png);
left: 0px;
right: 0px;
margin: 0 auto;
bottom: 0;
background-position: center;
}

.category_list ul { margin-bottom: 0px; margin-right: 10px; }
.category_list h2 {
    font-size: 20px;
    color: #5590cc;font-family: "oswald",sans-serif;text-transform: uppercase;    margin: 0px;
}
.category_list li.list-inline-item {
    margin: 0px;
}
.category_list li a {
    font-size: 20px;font-family: "oswald",sans-serif; padding: 3px 20px; text-transform: uppercase;    display: block;
}

/*<service>*/
.sub_service_icon {
overflow: hidden;
margin-bottom: 15px;
}
.sub_service_icon img.icon {
    max-width: 115px;
    display: inline-block;
    margin: 0 20px 0 0;
}
 .sub_service_icon h2 {
     display: flex;
    align-items: flex-end;

}

footer.site-footer {
background-color: #514F50;
padding: 20px;
}
footer.site-footer ul {
list-style: none;
/* float: left; */
display: block;
}
footer.site-footer ul>li{ display: inline-block; }
footer.site-footer a ,footer.site-footer{ font-size: 14px;color: #fff; }
span.copyright-text {
max-width: 410px;
display: block;
}
footer.site-footer ul#menu-footer-menu{margin-bottom: 0px;}
footer.site-footer ul#menu-footer-menu>li>a {
padding: 0px 8px;
border-right: 1px solid #fff;
display: block;
line-height: 14px;
}
footer.site-footer ul#menu-footer-menu>li:last-child>a{border-right: 1px solid transparent}
ul.list-inline.string_footer_social>li>a {
width: 30px;
height: 30px;
display: block;
border-radius: 100%;
background-color: #fff;
text-align: center;
color: #514f50;
line-height: 30px;
}
.blog_img a {
    display: block;
}
.blog_single_content_deatils {
    overflow: hidden;
}

.blog_single_content_deatils .blog_single_image {
    float: left;
    max-width: 595px;
    margin-right: 30px;
    margin-bottom: 15px;
}
.blog_single_content_deatils .blog_single_image img {
    max-width: 100%;
}
.blog_single_content_deatils  p{font-size: 17px;    margin-bottom: 20px; }
h2.entry-title.evenheading {
    font-size: 30px;
    color: #5590CC;
    text-transform: uppercase;
    /* letter-spacing: -2px; */
}

.author_date h6 {
    font-size: 18px;
    margin-bottom: 0px;
}

.author_date li a {
    padding: 3px 6px !important;
    font-size: 12px !important;
}

.author_date .wp-share-button {
    padding: 0px;
    margin: 0px;
}

.author_date {
    padding: 10px 0px;
}
.single h2.screen-reader-text {
    display: none;
}.single .meta-nav {
    display: none;
}

.single  nav.navigation.post-navigation {
    padding: 20px 0px 50px;
}

.single  .nav-links {
    overflow: hidden;
}

.single  .nav-links .nav-previous {
    float: left;  
}.single  .nav-links .nav-previous a {
    padding-left: 40px;
}
.single  .nav-links .nav-next a {
    padding-right: 40px;
}

.single .nav-links a:before {
    width: 10px;
    height: 16px;
    content: "";
    background-image: url(../assets/images/arrow_blog-single.png);
    position: absolute;
    top: 0px;
     background-repeat: no-repeat;
}
.single  .nav-links .nav-next {
    float: right;
}
.single  .nav-links .nav-previous a:before {
left: -0px;
}
.single  .nav-links .nav-next a:before {
    
    right: -0px;background-position: -33px 0px;
}
.single  .nav-links a {
    color: #000;
    text-transform: uppercase;
    font-size: 16px; text-decoration: none;
    position: relative; 
}
.single .nav-links a:hover{ color: #5590CC }

.single  .nav-links .nav-previous a:hover:before {
 background-position: -21px 0px;
}
.single  .nav-links .nav-next a:hover:before {
    
 background-position: -11px 0px;
}


.blog_center_heading h1 {
    display: inline-block;
}

.blog_center_heading.container {
    max-width: 710px;
    margin: 0 auto;
}

 
.hr_lead { padding: 0px 0px 0 40px; }

.light_box_content li {     padding-left: 15px; position: relative; }

.light_box_content li a {
    position: relative;
 color:#262526;
    font-size: 20px; text-decoration: none;

}
.light_box_content li i {
    color: #f49f1f;
    font-size: 14px;
    margin-left: 10px;
}

.light_box_content li:before {
    content: "";
    position: absolute;
    width:7px;
    height:7px;
    background-color: #f49f1f;
    left: 0;
    top:8px;
    border-radius: 100%;
}

.light_box_content {
    margin-left: 40px;
    padding: 15px 0px;
}


.light_box_content_modal .modal-dialog {
    width: 100%;
    max-width: 1100px;
}

.light_box_content_modal .modal-dialog  .modal-content{
    padding: 50px 25px;
    background-color: #fff;
}
.light_box_content_modal .modal-dialog .modal-content .modal-body p{ font-size: 16px; margin-bottom: 20px;  }
.light_box_content_modal .modal-dialog .modal-content .modal-body li{ font-size: 16px; }
.light_box_content_modal .modal-dialog .modal-content .modal-body {
    border: 1px solid #f49f1f;
    padding-bottom: 0px;
    padding: 20px 60px;
}
.light_box_content_modal .modal-dialog .modal-content button.close {
    position: absolute;
    right: 26px;
    top: 10px;
    opacity: 1;
}
.light_box_content_modal .modal-dialog .modal-content .modal-body h2{ font-size: 36px;font-family: "oswald",sans-serif; font-weight: 300; margin-bottom: 25px; }



.sub_service_section .mb-md { width: 42vw; float: left;    }


.home_blog_section { margin-top:70px;}

.page-id-20 .max_wrap,
.page-id-22 .max_wrap{ max-width: 890px; }

.page-id-20 .page_section h3,
.page-id-20 .page_section p,
.page-id-22 .page_section h3,
.page-id-22 .page_section p { font-size: 21px; }

.page-id-20 .about_sharrie_content a,
.page-id-22 .page_section a{ color: #000; } 

.sub_service_section { overflow: hidden; }

.about_sharrie_content{ padding-top: 20px; }

.page-id-18 .contact_page { font-size: 20px; }


ul.list-inline.string_footer_social > li > a:hover { background-color:#F49F1F;  }

footer.site-footer ul#menu-footer-menu > li > a:hover { color: #F49F1F;  }

 .blog_work_content h2 a:hover,
 .service_work_content a:hover { color: #F49F1F; }

/*Responsive*/
@media(max-width: 767px){
.light_box_content {
    margin-left: 10px;
    padding: 15px 0px;
}
.light_box_content li a {
    position: relative;
    color: #262526;
    font-size: 16px;}
    .sub_service_section .col-lg-7.py-50-30 {
    padding: 10px 15px 30px;
}
.services_page_section h2 {
    font-size: 24px;
}
.services_page_section .item img.img-fluid {
    max-width: 110px;
}
.error-404 h2.page-title.text-white { font-size: 32px; text-align: center; }
.error-404 { padding-top: 10px; }
.category_list ul,
.category_list h2 { display: block; clear: both; width: 100%; }

.category_list { display: block; }

.category_list li a { font-size: 14px;    padding: 10px 9px; }
.category_list ul { margin-top: 10px; }

 .home_blog_section { margin-top: 20px; }

	h2.entry-title.evenheading {
    font-size: 22px;
}
	.single .nav-links a {
    
    font-size: 13px;}
    .single .nav-links .nav-previous a {
    padding-left: 22px;
}  .single .nav-links .nav-next a {
    padding-right: 22px; 
}
	nav.navbar.navbar-expand-md.navbar-light.bg-light {
    padding: 15px 15px;
}
.blog_work_content h2, .blog_work_content h2 a {
    font-size: 20px;}
.string_header_social{ display: none; }
.navbar-brand {
max-width: 250px;
}
.home-page-banner .max-hiro ul {
margin-left: 0;
}
.home-page-banner li.list-inline-item {
font-size: 26px; padding-left: 15px;}
.home-page-banner li.list-inline-item:after {

width: 10px;
height: 10px;

left: 0px;
top: 15px;}
.home-page-banner li.list-inline-item:last-child:before {
    
    top: 16px;

}
.text-home_header_content p {
font-size: 16px;

line-height: 26px;
}
.home-page-banner .btn{ font-size: 18px; }
.home-page-banner {

height: auto;
padding: 100px 0;
}
.newsletter_form_section h2 {

font-size: 24px;
padding-left: 0;
margin-bottom: 15px !important;
display: block;
}
input.tnp-submit.btn.btn-secondary {
padding: 11px 16px;
font-size: 18px;

}
h2.block-tittle {
font-size: 40px;}
.testimonial_box p {
font-size: 16px;
}
.testimonial_box h6 {
font-size: 16px;
}
.testimonial_slider .owl-theme .owl-nav [class*=owl-] {
position: relative;
bottom: 0;
}
.owl-theme .owl-nav [class*=owl-] img {
max-width: 34px;
}
.owl-theme .owl-nav [class*=owl-] {
padding: 0px !important;
}
nav.main-navigation.mr-lg-n5 {
margin: 15px -5px;
}
.blog_work_box {
max-width: 480px;
margin: 0 auto;
}
.home_service_section .container {
max-width: 460px;
margin: 0 auto;
}
.inner-pages-banner h1 {
font-size: 28px;
color: #fff;
}
.inner-pages-banner p {
font-size: 16px;}
.inner-pages-banner h1:before{ top: 12px; }
.inner-pages-banner h1:after{ top: 12px; }
.services_page_section .item img.img-fluid{margin: 0px 0px 15px;}
h2 {
font-size: 30px;

}
.services_page_section p {
font-size: 16px;
}
.learn_more .btn {
border-radius: 0px;
min-width: auto;
font-size: 20px;
letter-spacing: 1px;
padding: 6px 36px;
}
.contact_page {
    padding: 20px 0px 20px;
}
.contact_page h2 img {
    margin-right: 15px;
    max-width: 40px;
}
section.sub_service_section.page_section {
    margin-bottom: 40px;
} 
}
@media(max-width:575px){
.newsletter_form_section .tnp-subscription div.tnp-field {
margin-bottom: 15px;
}
.newsletter_form_section .tnp-subscription div.tnp-field:last-child {
margin: 0px;
}
.navbar-brand {
    max-width: 210px;
}
.contact_page input:not([type="submit"]) {
    height: 45px;}
    .contact_page select.wpcf7-form-control.wpcf7-select {
    height: 45px}
    .page_section p {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 15px;
}
}
@media(max-width:991px){
.light_box_content_modal .modal-dialog .modal-content {
    padding: 45px 10px 40px;
    background-color: #fff;
}
.light_box_content_modal .modal-dialog .modal-content .modal-body h2 {
    font-size: 25px;}

.light_box_content_modal .modal-dialog .modal-content .modal-body p {
    font-size: 14px;
}
.light_box_content_modal .modal-dialog .modal-content .modal-body li {
    font-size: 14px;
}
.light_box_content_modal .modal-dialog .modal-content .modal-body {
    
    padding: 20px 15px;
}
	.testimonial_slider .owl-theme .owl-nav [class*=owl-] img {
    max-width: 30px;
}

.testimonial_slider .owl-theme .owl-nav [class*=owl-] {
    position: relative;
}
.testimonial_box p {
    font-size: 18px;
}
.testimonial_box {
    max-width: 640px;
    margin: 0 auto;
}
.site-footer .row {
    margin: 0 -5px;
}

.site-footer .row [class*="col"] {
    padding: 0 5px;
}
.site-footer .row [class*="col"] {
    padding: 0 5px;
    text-align: left !important;
}
ul.list-inline.string_footer_social>li>a {
    width: 26px;
    height: 26px;
   
    line-height: 26px;
}
	.home-page-banner .max-hiro ul {
    margin-left: 0;
}
.newsletter_form_section h2 {
    padding-left: 0px;
}
.mb-md{ margin-bottom: 30px; }

.header ul:not(.string_header_social)>li>a {
    font-size: 16px;
       padding: 0px 15px !important;
    font-family: "oswald",sans-serif;
    
}
.navbar-brand {
    max-width: 214px;
}
.blog_single_content_deatils .blog_single_image{ width: 100%; max-width: 100%; margin-right: 0px; }
.blog_single_content_deatils .blog_single_image img{ width: 100%; }
}

/*menu*/
@media(min-width: 768px){
	.sidenav{ display: none; }
}
.closebtn,.closebtn:focus, .closebtn:hover {
    color: #fff;
    background-color: #F49F1F ;
    padding: 0px 10px;
    font-size: 26px;
    margin: -60px 0 0 0px;
    float: left;
}
.sidenav {
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #fff;
    overflow-x: hidden;
    padding: 60px 0px;

    text-align: left;
    background-color: #fff;
    transition: 0.5s;box-shadow: 2px 0px 10px 1px #aaaaaa;
}
.sidenav li a{ font-size: 16px;font-family: "oswald",sans-serif;    text-align: center;
    border-bottom: 1px solid #f2f2f2; text-transform: uppercase; padding: 15px; }


button:foucs {
    outline: none; 
}
button.navbar-toggler.border-0:focus {
    outline: none;
}

span.navbar-toggler-icon {
  
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(85,144,204, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")!important;
    
}
@media(max-width:479px){

.about_sharrie_image { margin: 0px 0 10px 0; max-width: 100%; width: 100%; display: block; clear: both; }
.about_sharrie_image img { width: 100%; }

.page-id-12 .page_section { padding-top: 10px; }

.site-footer .row [class*="col"],
footer.site-footer a, footer.site-footer { text-align: center !important; }

h2.block-tittle { font-size: 32px; }

.navbar-brand { max-width:250px; }

.home_blog_section .row [class*="col-"] { margin-bottom: 25px; }
nav.navigation.pagination { padding: 0 0 0px 0 }

footer.site-footer ul{ margin: 0px; }

}

.navbar-light .navbar-toggler { cursor: pointer; }


span.wpcf7-not-valid-tip { display: none!important; }

input.wpcf7-not-valid { border-color: red !important; }

.blog .home_blog_section { margin-top: 20px; }


a.text-primary:hover { color: #F49F1F !important; }

